<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('人才服务需求列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>满意度</label>
                            <select name="satisfactionDegree" th:with="type=${@dict.getType('satisfaction_degree')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>服务状态</label>
                            <select name="serviceStatus" th:with="type=${@dict.getType('service_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>服务提交时间</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="module:tss:header:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('module:tss:header:edit')}]];
    var removeFlag = [[${@permission.hasPermi('module:tss:header:remove')}]];
    var prefix = ctx + "module/tss/header";
    var serviceStatusSdatas = [[${@dict.getType('service_status')}]];
    var satisfactionDegreeDatas = [[${@dict.getType('satisfaction_degree')}]];

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "人才服务需求",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '唯一标识',
                    visible: false
                },
                {
                    field: 'serviceNo',
                    title: '服务编码'
                },
                {
                    field: 'teacherNo',
                    title: '工号',
                    visible: false
                },
                {
                    field: 'teacherName',
                    title: '人才姓名',
                    visible: true
                },
                {
                    field: 'belongUnitNo',
                    title: '所在单位Id',
                    visible: false
                },
                {
                    field: 'belongUnitName',
                    title: '所在单位名称',
                    visible: true
                },
                {
                    field: 'phone',
                    title: '联系电话',
                    visible: false
                },
                {
                    field: 'submitTime',
                    title: '服务提交时间',
                    formatter: function(value, row, index) {
                        return value.substring(0, 11);
                    }
                },
                {
                    field: 'askEndTime',
                    title: '要求办结时间',
                    visible: true,
                    formatter: function(value, row, index) {
                        return value.substring(0, 11);
                    }
                },
                {
                    field: 'description',
                    title: '需求描述',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10, "open");
                    }

                },
                {
                    field: 'demand',
                    title: '服务要求',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10, "open");
                    }

                },
                {
                    field: 'handleUnitNo',
                    title: '牵头单位id',
                    visible: false
                },
                {
                    field: 'handleUnitName',
                    title: '牵头单位名称'
                },
                {
                    field: 'handlerNo',
                    title: '处理人工号',
                    visible: false
                },
                {
                    field: 'handlerName',
                    title: '处理人姓名',
                    visible: false
                },
                {
                    field: 'applyEndTime',
                    title: '申请办结时间',
                    visible: false,
                    formatter: function(value, row, index) {
                        return value.substring(0, 11);
                    }
                },
                {
                    field: 'serviceEndTime',
                    title: '服务办结时间',
                    visible: false,
                    formatter: function(value, row, index) {
                        return value.substring(0, 11);
                    }
                },
                {
                    field: 'viceHandleUnitNo',
                    title: '协办单位',
                    formatter: function(value, row, index) {
                        if(value == "" || value == null) {
                            return value;
                        } else {
                            var depts = value.split(',');
                            var arr = [];
                            var url = "";

                            for (i in depts) {

                                var deptId = depts[i];
                                url = ctx + "system/dept/selectDeptById/" + deptId;
                                $.ajaxSetup({
                                    async : false
                                });
                                $.get(url, function(result){
                                    var deptName = result.dept.deptName;
                                    arr.push(deptName)
                                });
                            }
                            return arr.toString();
                        }

                    }
                },
                {
                    field: 'assignRemark',
                    title: '办理要求',
                    visible: false,
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10, "open");
                    }
                },
                {
                    field: 'serviceStatus',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(serviceStatusSdatas, value);
                    }
                },
                {
                    field: 'satisfactionStatus',
                    title: '满意度',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(satisfactionDegreeDatas, value);
                    }
                },
                {
                    field: 'handleTimes',
                    title: '办理次数,本服务提交的次数',
                    visible: false
                }
                /* {
                     title: '操作',
                     align: 'center',
                     formatter: function(value, row, index) {
                         var actions = [];
                         if(row.serviceStatus == "6"){
                             actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>提交</a> ');
                             actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                             actions.push('<a class="btn btn-success btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-edit"></i>删除</a> ');
                         }
                         return actions.join('');
                     }
                 }*/]
        };
        $.table.init(options);
    });


</script>
</body>
</html>